In [3]:
from preamble import *

In [25]:
data = pd.read_csv('./data/reservoir_merged.csv')

In [26]:
data.head()

      observation_time  reservoir_id  input  output  height
0  2023-10-01 00:01:00             5  269.0   301.0    2.31
1  2023-10-01 00:02:00             5  277.0   298.0    2.32
2  2023-10-01 00:03:00             5  273.0   227.0    2.32
3  2023-10-01 00:04:00             5  275.0   231.0    2.31
4  2023-10-01 00:05:00             5  273.0   231.0    2.31

In [ ]:
def aggregate_to_hourly(df):
  df['observation_time'] = pd.to_datetime(df['observation_time'])

  df['hour'] = df['observation_time'].dt.floor('H')

  df_hourly = df.groupby(['reservoir_id', 'hour']).mean(numeric_only=True)

  df_hourly.reset_index(inplace=True)

  hourly_data = hourly_data.rename(columns={
    'hour': 'observation_time', 
  })

  # 원하는 칼럼 순서 정의
  new_order = ['observation_time', 'reservoir_id', 'input', 'output', 'height']

  # 순서 변경 적용
  hourly_data = hourly_data[new_order]

  return df_hourly

In [28]:
hourly_data = aggregate_to_hourly(data)
hourly_data.head()

C:\Users\user\AppData\Local\Temp\ipykernel_3980\2343861511.py:4: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  df['hour'] = df['observation_time'].dt.floor('H')

   reservoir_id                hour   input  output  height
0             1 2023-10-01 00:00:00  106.37  161.08    5.00
1             1 2023-10-01 01:00:00  104.93   70.37    4.99
2             1 2023-10-01 02:00:00  106.28   68.97    5.00
3             1 2023-10-01 03:00:00  105.50   68.48    5.00
4             1 2023-10-01 04:00:00  105.40   78.01    5.00

In [29]:
# 칼럼 이름 변경
hourly_data = hourly_data.rename(columns={
    'hour': 'observation_time', 
})

# 원하는 칼럼 순서 정의
new_order = ['observation_time', 'reservoir_id', 'input', 'output', 'height']

# 순서 변경 적용
hourly_data = hourly_data[new_order]
hourly_data.head()

     observation_time  reservoir_id   input  output  height
0 2023-10-01 00:00:00             1  106.37  161.08    5.00
1 2023-10-01 01:00:00             1  104.93   70.37    4.99
2 2023-10-01 02:00:00             1  106.28   68.97    5.00
3 2023-10-01 03:00:00             1  105.50   68.48    5.00
4 2023-10-01 04:00:00             1  105.40   78.01    5.00