In [2]:
from preamble import *

In [6]:
data9 = pd.DataFrame(pd.read_csv('data/9.csv', header=None))
data10 = pd.DataFrame(pd.read_csv('data/10.csv', header=None))
data11 = pd.DataFrame(pd.read_csv('data/11.csv', header=None))
data12 = pd.DataFrame(pd.read_csv('data/12.csv', header=None))
data13 = pd.DataFrame(pd.read_csv('data/13.csv', header=None))

In [7]:
input_flow = data9.set_index(1)[2]
output_flow_1 = data10.set_index(1)[2]
output_flow_2 = data11.set_index(1)[2]
height_new = data12.set_index(1)[2]
height_old = data13.set_index(1)[2]
input_flow.head()
# print(type(input_flow))

1
2023-01-01 00:01:00    75.23
2023-01-01 00:02:00    74.65
2023-01-01 00:03:00    75.28
2023-01-01 00:04:00    74.67
2023-01-01 00:05:00    75.06
Name: 2, dtype: float64

In [8]:
j_data = pd.DataFrame({'input_flow':input_flow, 'output_flow_1':output_flow_1, 'output_flow_2':output_flow_2, 'height_new':height_new, 'height_old':height_old})
j_data.index.name = 'Date'
j_data.index = pd.to_datetime(j_data.index)
j_data.head()

,input_flow,output_flow_1,output_flow_2,height_new,height_old
Date,,,,,
2023-01-01 00:01:00,75.23,95.98,5.2,4.97,2.05
2023-01-01 00:02:00,74.65,93.93,4.6,4.97,2.05
2023-01-01 00:03:00,75.28,97.53,4.5,4.97,2.05
2023-01-01 00:04:00,74.67,96.03,4.5,4.97,2.05
2023-01-01 00:05:00,75.06,100.29,4.5,4.97,2.05

In [9]:
df = pd.DataFrame(pd.read_csv('./data/weather_2023.csv'))
df2 = pd.DataFrame(pd.read_csv('./data/weather_2024.csv'))
weather_2023 = df.iloc[:, 2:]
weather_2024 = df2.iloc[:, 2:]
weather_2023 = weather_2023.set_index(weather_2023.columns[0]) 
weather_2024 = weather_2024.set_index(weather_2024.columns[0])
weather_2023.fillna(0, inplace=True)
weather_2024.fillna(0, inplace=True)
weather_2023.head(), weather_2024.head()

(                  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  현지기압(hPa)  적설(cm)
 일시
 2023-01-01 00:00    -0.9      0.0      1.4   72.0     1023.6     0.0
 2023-01-01 01:00    -1.3      0.0      1.5   74.0     1023.3     0.0
 2023-01-01 02:00    -1.7      0.0      1.4   75.0     1023.1     0.0
 2023-01-01 03:00    -2.0      0.0      1.2   77.0     1023.3     0.0
 2023-01-01 04:00    -2.0      0.0      1.7   79.0     1022.8     0.0,
                   기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  현지기압(hPa)  적설(cm)
 일시
 2024-01-01 00:00     4.0      0.0      1.2     79     1018.8     0.0
 2024-01-01 01:00     3.8      0.0      1.5     80     1019.1     0.0
 2024-01-01 02:00     3.9      0.0      0.2     79     1019.4     0.0
 2024-01-01 03:00     3.5      0.0      0.4     84     1019.9     0.0
 2024-01-01 04:00     1.9      0.0      1.1     92     1020.1     0.0)

In [10]:
weather = pd.concat([weather_2023, weather_2024], axis=0)
weather.head()
# weather.tail()

                  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  현지기압(hPa)  적설(cm)
일시
2023-01-01 00:00    -0.9      0.0      1.4   72.0     1023.6     0.0
2023-01-01 01:00    -1.3      0.0      1.5   74.0     1023.3     0.0
2023-01-01 02:00    -1.7      0.0      1.4   75.0     1023.1     0.0
2023-01-01 03:00    -2.0      0.0      1.2   77.0     1023.3     0.0
2023-01-01 04:00    -2.0      0.0      1.7   79.0     1022.8     0.0

In [11]:
weather.index = pd.to_datetime(weather.index)
weather.index.name = 'Date'
weather_min = weather.resample('min').ffill().bfill()

In [12]:
weather_min.rename(columns={'기온(°C)': 'temperature', '강수량(mm)': 'precipitation', '풍속(m/s)': 'wind_speed', '습도(%)': 'humidity', '현지기압(hPa)':'atmospheric_pressure', '적설(cm)':'snow'}, inplace=True)
weather_min.head()

,temperature,precipitation,wind_speed,humidity,atmospheric_pressure,snow
Date,,,,,,
2023-01-01 00:00:00,-0.9,0.0,1.4,72.0,1023.6,0.0
2023-01-01 00:01:00,-0.9,0.0,1.4,72.0,1023.6,0.0
2023-01-01 00:02:00,-0.9,0.0,1.4,72.0,1023.6,0.0
2023-01-01 00:03:00,-0.9,0.0,1.4,72.0,1023.6,0.0
2023-01-01 00:04:00,-0.9,0.0,1.4,72.0,1023.6,0.0

In [10]:
data = pd.concat([j_data, weather_min], axis=1, join='inner')
data.head()

,input_flow,output_flow_1,output_flow_2,height_new,height_old,temperature,precipitation,wind_speed,humidity,atmospheric_pressure,snow
Date,,,,,,,,,,,
2023-01-01 00:01:00,75.23,95.98,5.2,4.97,2.05,-0.9,0.0,1.4,72.0,1023.6,0.0
2023-01-01 00:02:00,74.65,93.93,4.6,4.97,2.05,-0.9,0.0,1.4,72.0,1023.6,0.0
2023-01-01 00:03:00,75.28,97.53,4.5,4.97,2.05,-0.9,0.0,1.4,72.0,1023.6,0.0
2023-01-01 00:04:00,74.67,96.03,4.5,4.97,2.05,-0.9,0.0,1.4,72.0,1023.6,0.0
2023-01-01 00:05:00,75.06,100.29,4.5,4.97,2.05,-0.9,0.0,1.4,72.0,1023.6,0.0

In [13]:
output_flow = j_data['output_flow_1'] + j_data['output_flow_2']
# label = pd.DataFrame({
#     'output_flow': output_flow
# }, index=data.index)
# label.head()

In [12]:
data_dropped = data.drop(['output_flow_1', 'output_flow_2'], axis=1)
data_dropped['output_flow'] = output_flow

In [13]:
data_dropped = data_dropped.astype(float)
data_dropped.shape

(943483, 10)

In [14]:
data_na = data_dropped.dropna()
data_na.shape

(943412, 10)

In [16]:
data_na.to_csv(path_or_buf='data/j_data.csv')
# label.to_csv(path_or_buf='data/j_label.csv')